        body {
            background: rgb(82, 31, 31);
            display: flex;
            --unit: calc( 90vh / 16);
        }
        
        .row {
            margin: auto;
            position: relative;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
        
        .ivory {
            width: calc( var(--unit) * 10);
            height: calc( var(--unit) * 2);
            border-radius: 10px 0 0 10px;
            box-shadow: 0 0 6px 2px;
            background: ivory;
        }
        
        .ivory.keydown {
            box-shadow: inset 3px 0 10px 4px;
        }
        
        .ebony {
            width: calc( var(--unit) * 6);
            height: var(--unit);
            position: absolute;
            background: #282C34;
            border-radius: 5px 0 0 5px;
            box-shadow: 0 0 2px 2px;
            right: -2px;
        }
        
        .ebony.keydown {
            box-shadow: inset 1px 0 2px 1px ivory;
        }
        
        #cisz {
            top: calc( var(--unit) * 1.5);
        }
        
        #disz {
            top: calc( var(--unit) * 3.5);
        }
        
        #fisz {
            top: calc( var(--unit) * 7.5);
        }
        
        #gisz {
            top: calc( var(--unit) * 9.5);
        }
        
        #be {
            top: calc( var(--unit) * 11.5);
        }
        
        #ccisz {
            top: calc( var(--unit) * 15.5);
        }
        
        @media screen and (min-width: 730px),
        screen and (orientation: landscape) {
            body {
                --unit: calc( 80vw / 16);
                font-size: 0;
            }
            .row {
                flex-direction: row;
            }
            .ivory {
                height: calc( var(--unit) * 10);
                width: calc( var(--unit) * 2);
                border-radius: 0 0 10px 10px;
            }
            .ebony {
                height: calc( var(--unit) * 6);
                width: var(--unit);
                position: absolute;
                border-radius: 0 0 5px 5px;
            }
            #cisz {
                left: calc( var(--unit) * 1.5);
                top: -5px;
            }
            #disz {
                left: calc( var(--unit) * 3.5);
                top: -5px;
            }
            #fisz {
                left: calc( var(--unit) * 7.5);
                top: -5px;
            }
            #gisz {
                left: calc( var(--unit) * 9.5);
                top: -5px;
            }
            #be {
                left: calc( var(--unit) * 11.5);
                top: -5px;
            }
            #ccisz {
                left: calc( var(--unit) * 15.5);
                top: -5px;
            }
        }